@import "./classes";
@import "./variables";

.counter-area {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    z-index: 1;
    background-color: $white-clr;
    padding: 1rem 3rem;
    &::after {
        background-image: url(../images/fun-facts/dot_shape.svg);
        content: "";
        position: absolute;
        bottom: -5rem;
        left: -7rem;
        z-index: 0;
        width: 17.5rem;
        height: 17.5rem;
        background-repeat: no-repeat;
    }
    .counter-container {
        
        .counter-info {
            .inner-count {
                padding: 1.5rem 0;
                h2.counter {
                    @extend .section-title-style;
                    color: $primary-clr;
                    font-size: 4rem;
                    margin: 0;
                }
           
                i {
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                    color: $primary-clr;
                    &::before {
                        font-size: 3rem;
                    }
                }
            }
            h4 {
                @extend .section-sub-title-style;
                color: $secondary-clr;
            }
        }
    }
}
