@import "./classes";

.counter-overview-area {
    background-color: #f0f3f6;
    position: relative;
    padding-top: 18rem;
    &::before {
        background-image: url(../images/counters/image_1.png);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 62.5rem;
        height: 60.3rem;
        background-repeat: no-repeat;
    }
    &::after {
        background-image: url(../images/counters/image_2.png);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        width: 50rem;
        height: 60.3rem;
        background-repeat: no-repeat;
    }
    .counter-title {
        p.sub-title {
            @extend .section-sub-title-style;
            color: $primary-clr;
            margin-top: -4rem;
        }
        h2.title {
            @extend .section-title-style;
        }
    }
    .counter-info {
        @extend .section-info-style;
    }
}