/*--- Font Family ---*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Rubik', sans-serif;


/*--- Colors ---*/
$primary-clr: #f9504c;
$secondary-clr: #101010;
$white-clr: #FFFFFF;
$text-clr: #333333;

/*--- Transitions ---*/
$transition-03s: all 0.3s ease-in-out;
$transition-05s: all 0.5s ease-in-out;